<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <h1>
            <i class="fa-solid fa-wand-sparkles"></i> ASCII Art Generator
            <span class="subtitle">version 1.1.0</span>
        </h1>
        <form action="/result" method="post" id="ascii-form">
            <label for="text">Text:</label>
            <textarea name="text" id="text" style="background-color: black; color: white;" rows="4" required
                placeholder="write your text"></textarea>
            <br>
            <label for="banner">Banner:</label>
            <select id="banner" name="banner" required>
                <option value="shadow">Shadow</option>
                <option value="standard">Standard</option>
                <option value="thinkertoy">Thinkertoy</option>
                <option value="train">Train</option>
            </select>
            <br>
            <button type="submit" id="genbtn">Generate</button>
            <input type="button" value="Go back !" onclick="history.back()">
        </form>
    </div>
</body>

</html>